body { /* has seizure and one gradient */

/* background: linear-gradient(to right, #C33764, #1D2671);  */
.manofsteel;
/*
seizure background
-webkit-animation:rainbow .1s infinite;
-ms-animation:rainbow .1s infinite;
-o-animation:rainbow .1s infinite;
animation:rainbow .1s infinite;
}
@-webkit-keyframes rainbow {
0% {background: #ff0000;}
10% {background: #ff8000;}
20% {background: #ffff00;}
30% {background: #80ff00;}
40% {background: #00ff00;}
50% {background: #00ff80;}
60% {background: #00ffff;}
70% {background: #0080ff;}
80% {background: #0000ff;}
90% {background: #8000ff;}
100% {background: #ff0080;}
}
@-ms-keyframes rainbow {
0% {background: #ff0000;}
10% {background: #ff8000;}
20% {background: #ffff00;}
30% {background: #80ff00;}
40% {background: #00ff00;}
50% {background: #00ff80;}
60% {background: #00ffff;}
70% {background: #0080ff;}
80% {background: #0000ff;}
90% {background: #8000ff;}
100% {background: #ff0080;}
}
@-o-keyframes rainbow {
0% {background: #ff0000;}
10% {background: #ff8000;}
20% {background: #ffff00;}
30% {background: #80ff00;}
40% {background: #00ff00;}
50% {background: #00ff80;}
60% {background: #00ffff;}
70% {background: #0080ff;}
80% {background: #0000ff;}
90% {background: #8000ff;}
100% {background: #ff0080;}
}
@keyframes rainbow {
0% {background: #ff0000;}
10% {background: #ff8000;}
20% {background: #ffff00;}
30% {background: #80ff00;}
40% {background: #00ff00;}
50% {background: #00ff80;}
60% {background: #00ffff;}
70% {background: #0080ff;}
80% {background: #0000ff;}
90% {background: #8000ff;}
100% {background: #ff0080;}

*/
}


.rainbow { 
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0.00, red), 
        color-stop(16%, orange),
        color-stop(32%, yellow),
        color-stop(48%, green),
        color-stop(60%, blue),
        color-stop(76%, indigo),
        color-stop(1.00, violet));
}

.greenred { 
 /*background: linear-gradient (to bottom, red, green );
 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	background: linear-gradient(to bottom, green, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
}

.manofsteel{
	background: -webkit-linear-gradient (to right,#780206, #061161);
	
}

.backgroundgradient {
 color: background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  /*linear-gradient (to right, #C33764, #1D2671);
 */
}